---
// Components
import DropdownLinks from "../components/DropdownLinks.astro";

//  Images
import ToggleArrow from "../assets/img/toggle-arrow.png";

const { heading } = Astro.props;

const API_URL = import.meta.env.PUBLIC_ApiUrl;
const BlogResponse = await fetch(
  `${API_URL}/api/resource/Simprosys%20Blog?fields=["*"]&filters=[["post_category", "=", "${heading}"],["status","=","publish"]]&order_by=\`order\` asc`,
  {
    method: "GET",
    headers: {
      Authorization: `token ${import.meta.env.PUBLIC_ApiKey}:${import.meta.env.PUBLIC_SecretKey}`,
    },
  }
);
const BlogJson = await BlogResponse.json();
const Blog = BlogJson.data || [];
---

<div class="cursor-pointer">
  <div class="dropdown flex px-2 py-4 xl:px-4 xl:py-8 border-t justify-between">
    <h2 class="text-xl xl:text-2xl font-medium">{heading}</h2>
    <button class="toggle-button">
      <img class="arrow-icon" src={ToggleArrow.src} alt="Toggle Arrow" />
    </button>
  </div>
  <div class="toggle-section px-2 py-4 xl:px-4 xl:pb-8 hidden">
    <ul
      class="font-medium text-sm space-y-3 xl:text-[16px] xl:leading-[42px] text-[#55575A] list-disc px-5"
    >
      {
        Blog.map((item: any) => (
          <DropdownLinks hrefLink={item.slug} Label={item.name} />
        ))
      }
    </ul>
  </div>
</div>
